body {
    background-color: #292929;
}

.container, legend {
        color: #949494;
}

.container {
    font-family: 'Droid Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    -webkit-text-shadow: rgba(0,0,0,0) 0px 0px 1px;
    text-shadow: rgba(0,0,0,0) 0px 0px 1px;
    }

.p-org-group {
    background-color: #F2B33D;
    padding: 12px;
    margin-bottom: 12px;
    color: #292929;
}

.p-group-stuff {
    background-color: #F29B30;
    padding: 5px;
    margin-bottom: 5px;
}

.p-org-name {
    font-size: 2em;
    margin-bottom: 12px;
}

#logoutForm {
    margin: 0;
}

    #logoutForm > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 20px;
        color: #333;
        white-space: nowrap;
    }

        #logoutForm > a:hover {
            color: white;
            text-decoration: none;
            background-color: #0081C2;
            background-image: -moz-linear-gradient(top, #08C, #0077B3);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#0077B3));
            background-image: -webkit-linear-gradient(top, #08C, #0077B3);
            background-image: -o-linear-gradient(top, #08C, #0077B3);
            background-image: linear-gradient(to bottom, #08C, #0077B3);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
        }

 