@{
    ViewBag.Title = "Home Page";
}
@section Header
{
    <header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Stop the press!</h1>
      <p class="lead">You must be logged in to Proofted before you can do anything.</p>
      @Html.ActionLink("Get Started", "Index", "Start", null, new { @class = "btn btn-primary btn-large"})
  </div>
</header>
}
